@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column list-group">
    <li class="nav-item list-group-item border-0 mb-1">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) text-dark" id="profile" asp-page="./Index">
             個人基本資料
        </a>
    </li>

    <li class="nav-item list-group-item border-0 mb-1">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) text-dark" id="change-password" asp-page="./ChangePassword">
             修改密碼
        </a>
    </li>

    <li class="nav-item list-group-item border-0 mb-1">
    <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) text-dark" id="email" asp-page="./Email">
         更改電子信箱
    </a>
    </li>
    
@*     </li>
    <li class="nav-item list-group-item border-0 mb-1">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) text-dark" id="two-factor" asp-page="./TwoFactorAuthentication">
            雙重驗證 (2FA)
        </a>
    </li>

    <li class="nav-item list-group-item border-0 mb-1">
        <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) text-dark" id="external-login" asp-page="./ExternalLogins">
            綁定外部帳號 (Google)
        </a>
    </li> 

    <li class="nav-item list-group-item border-0 mb-1">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) text-dark" id="personal-data" asp-page="./PersonalData">
             下載個人數據
        </a>
    </li>
</ul> *@